[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "disclosuR"]
	path = disclosuR
	url = https://github.com/jonasroettger/disclosur
